.StatisticsHome-page {
  .ant-pagination, .ant-table-pagination {
  	margin: 20px!important;
  }
  .statistics-header {
  	height: 100px; 
  	width: 100%;
  	border: 1px solid #999;
  	text-align: center;
  	margin-bottom: 10px;
  	clear: both;
  }
  .Statistics-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
}  







