.CargoDetail-page{
    .CargoDetail-top{
      padding: 20px;
      background-color: #ededed;
      display: flex;
      .CargoDetail-row{
        background-color: #fff;
        width: 100%;
        padding: 16px;
      }
      .CargoDetail-btn{
        text-align: center;
        margin-bottom: 10px;
        padding: 0 20px;
        button{
          width: 100%;
        }
      }
    }
    .CargoDetail-bottom{
      background-color: #fff;
    }
    
}