.OrderReturns-page {
}

.OrderReturns-dash-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  padding: 16px;
  background-color: #fff;
  .OrderReturns-dash-icon {
    width: 20%;
    padding-bottom: 20%;
    height: 0;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .OrderReturns-dash-main {
    .OrderReturns-dash-num {
      display: block;
      font-size: 24px;
      text-align: right;
    }
    .OrderReturns-dash-title {
      display: block;
      color: #999;
      text-align: right;
    }
  }
}



